@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
    box-sizing: border-box;
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #264653;
    color: #6fffe9;
}

img {
    -webkit-user-select: none;
    user-select: none;
    max-width: 100%;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 84px;
    font-weight: 700;
}

p {
    margin: 0;
}


/*BREAD MENU*/

.bread a {
    text-decoration: none;
    color: #FFDC4E;
    font-size: 18px;
    margin: 0 5px;
}

.bread a:hover {
    text-decoration: underline;
}

.fa-angle-right {
    color: #FFDC4E;
}


/*COURSES MENU*/

.courses__main {
    padding: 30px 0;
}

.courses__title {
    text-align: center;
    color: #FFDC4E;
    font-weight: bold;
    font-size: 28px;
    margin: 5px 0 60px;
}

.courses__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses__item {
    margin: 0 5px;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.2s ease-out;
}

.courses__item:hover .courses__menu_text {
    color: #6FFFE9;
    transition: 0.2s ease-in;
}

.courses__menu_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #FFDC4E;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: 0.5s;
}

.courses__popular_title {
    text-align: center;
    color: #FFDC4E;
    font-weight: bold;
    font-size: 28px;
    margin: 40px 0;
}

.course__item {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #06FFFE;
}

.course__item_viewed {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #098086;
}

.course__item2 {
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.course__info {
    padding: 15px 15px 0 15px;
}

.course__name {
    margin: 0;
    padding: 3px 13px 10px;
}

.course__name2 {
    margin: 0;
    width: 57%;
    margin-left: 21%;
    padding: 3px 13px 10px;
}

.course__name h2 {
    color: #6FFFE9;
    font-size: 27px;
    letter-spacing: 0.8px;
}

.course__name h4 {
    color: #5BC0BE;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.4px;
    padding: 5px 0px 15px;
}

.course__name p {
    color: #6FFFE9;
    font-size: 18px;
    font-weight: 400;
}

.course__about {
    padding: 20px 0 30px;
    display: flex;
    justify-content: space-between;
}

.course__btn {
    padding: 60px 18px 30px;
}

.course__btn a {
    background: #FFDC4E;
    padding: 16px 22px;
    color: #264653;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: 1.2s ease-in;
}

.course__btn a:hover {
    transition: 0.7s ease-out;
    box-shadow: 0px 0px 31px -2px #FFDC4E;
    border-radius: 10px;
}

@media screen and (max-width: 862px) {
    .courses__item {
        width: 150px;
    }
    .course__contain p {
        font-size: 12px;
    }
    .course__name p {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .courses__item {
        width: 145px;
    }
    .course__name h2 {
        font-size: 16px;
    }
    .course__name h4 {
        font-size: 12px;
    }
    .course__name p {
        font-size: 11px;
    }
    .course__about {
        padding: 12px 0 15px;
    }
    .course__contain p {
        font-size: 10px;
    }
    .course__btn a {
        font-size: 10px;
    }
}