{% load static %}
{% load get_categories %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIHC-Study</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />
    {% block head-content %}{% endblock %}
</head>
<body>

        <!--NAVBAR START-->
        <nav class="nav">
            <div class="container">
              <div class="navbar">
                <div class="header__burger burger">
                  <span class="burger__line burger__line_first"></span>
                  <span class="burger__line burger__line_third"></span>
                </div>
                <div class="navbar_content">
                  <div class="header__nav-close">
                    <span class="header__nav-close-line"></span>
                    <span class="header__nav-close-line"></span>
                  </div>
                  <div class="select-box">
                    <div class="options-container">
                      {% get_categories as categories %}
                      {% for category in categories %}
                      <div class="option">
                        <a href="{% url 'category' category.pk %}">{{ category.title }}</a>
                      </div>
                      {% endfor %}
                    </div>
                    <div class="selected">Курсы</div>
                  </div>
                  <!--ADAPTIVE-NAVBAR-ABOUT START-->
                  <div class="adaptive_about-us">
                    <a href="{% url 'about-us' %}" class="adaptive_about">O нас</a>
                    <a class="adaptive_bell" href="{% url 'notifications' %}"><i class="far fa-bell"></i></a>
                  </div>
                  <!--ADAPTIVE-NAVBAR-ABOUT END-->
                  <div class="navbar_content-search">
                    <div class="navbar_content-search-wrap">
                      <form class="search" action="{% url 'search' %}">
                        <input type="text" class="searchTerm" placeholder="Поиск" name="search_text" />
                        <input type="submit" class="searchButton" value=""/>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="navbar_title">
                  <a class="navbar_title-link" href="{% url 'home' %}"><span class="navbar_span-title">JIHC</span>Study</a>
                </div>
                <div class="navbar_register">
                  <a class="navbar_register-about" href="{% url 'about-us' %}">O нас</a>
                  {% if request.user.is_authenticated %}
                  <a class="navbar_bell" href="{% url 'notifications' %}"><i class="far fa-bell"></i></a>
                  <div class="navbar_user">
                    <div class="navbar_user-container">
                      <div class="user_option">
                        <a href="{% url 'profile' %}"> <img src="{% static 'img/userprofileicon.svg' %}" alt="profile"> Профиль</a>
                      </div>
                      <div class="user_option">
                        <a href="../jobs.html" class="navbar_jobs-link"><img src="{% static 'img/userprofileicon.svg' %}" alt="profile"> Вакансии</a>
                      </div>
                      <div class="user_option">
                        <a href="/profile/#tab_02"> <img src="{% static 'img/usercoursicon.svg' %}" alt="course" style="margin-right: 15px;"> Мои курсы</a>
                      </div>
                      <div class="user_option">
                        <a href="/profile/#tab_04"> <img src="{% static 'img/userdiplomicon.svg' %}" alt="diplom"> Достижения</a>
                      </div>
                      <div class="user_option">
                        <a href="/profile/#tab_03"> <img src="{% static 'img/usercloudicon.svg' %}" alt="cloud"> Загрузки</a>
                      </div>
                      <div class="user_option">
                        <a href="{% url 'logout' %}"> <img src="{% static 'img/userexiticon.svg' %}" alt="exit">Выйти</a>
                      </div>
                    </div>
                    <div class="nabvar_user-name"><img src="{% if request.user.profile.photo %}{{ request.user.profile.photo.url }}{% else %}{% static 'img/user image_1.png' %}{% endif %}" alt="username">{{ request.user }}</div>
                  </div>

                  {% else %}
                  <link href="{% static 'css/main.css' %}">
                  <a class="navbar_register-sign-up" href="{% url 'login' %}" target="blank">Войти</a>
                  <a class="navbar_register-registration" href="{% url 'register' %}" target="blank">Присоединиться</a>
                  <a class="navbar_exit-btn" href="#!"><img src="{% static 'img/exitBtn.svg' %}" alt=""></a>
                </div>
              </div>
            </div>
          </nav>

          <section class="main_content">

                {% endif %}

                </div>
              </div>
            </div>
          </nav>
          <!--NAVBAR END-->



        {% block content %}{% endblock %}

        <!--FOOTER START-->
        <footer class="footer">
          <div class="container">
            <div class="footer_content">
              <p class="footer_year">Taraz 2021</p>
              <a class="footer_logo" href="#!"><span>JIHC</span>Study</a>
            </div>
          </div>
        </footer>
        <!--FOOTER END-->


        <script src="{% static 'js/main.js' %}"></script>
</body>
</html>