{% extends 'base.html' %}
{% load static %}

	{% block content %}
	<section class="bread">
		<div class="container">
			<div class="bread">
				<a href="{% url 'home' %}">Главная страница</a>
				<i class="fas fa-angle-right"></i>
				<a href="{% url 'category' lessons.first.course.direction.category.pk %}">{{ lessons.first.course.direction.category }}</a>
                <i class="fas fa-angle-right"></i>
				<a href="{% url 'course' lessons.first.course.pk %}">{{ lessons.first.course }}</a>
			</div>
		</div>
	</section>
	<section class="courses__web">
		<div class="container">
			<div class="courses__popular">
				<div class="courses__popular_title">
					<h2>{{ lessons.first.course }}</h2>
				</div>
				<div class="courses__popular__items">
					{% for lesson in lessons %}
					<div class="course__item">
						<div class="course__info">
							<div class="course__text">
								<div class="course__name">
									<h2>{{ lesson.title }}</h2>
									<h4>{{ lesson.direction }}</h4>
									<p>{{ lesson.description }}</p>
								</div>
							</div>
							<div class="course__about">
								<div class="course__contain">
									<p><i class="far fa-clock"></i>{{ lesson.duration }}</p>
								</div>
								<div class="course__btn">
									<a href="{% url 'lesson' lesson.pk %}">Посмотреть</a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	{% endblock %}