{% extends 'base.html' %}
{% load static %}

{% block content %}
	<link rel="stylesheet" href="{% static 'css/userpage.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

	<header class="user">
		<div class="container">
			<div class="header__body">
				<div class="header__user">
					<div class="user-image">
						<img src="{% if request.user.profile.photo %}{{ request.user.profile.photo.url }}{% else %}{% static 'img/user image_1.png' %}{% endif %}" id="output"/ alt="Аватарка" alt="">
					</div>
					<div class="user-info">
						<div class="header__username">
							<h3>{{ user }}</h3>
						</div>
					</div>
				</div>
				  <div class="header__button">
		          <a href="#loadphoto" class="">Изменить <br>аватарку</a>
		        </div>
		        <div id="loadphoto" class="overlay1">
		          <div class="popup1">
		            <form class="content1" method="POST" action="{% url 'change_photo' %}" enctype="multipart/form-data">
		              {% csrf_token %}
		              {{ photo_change_form }}
		              <input type="submit" class="imageDone" value="Готово">
		              <a href="#" class="imageDone">Отмена</a>
		            </form>
		          </div>
		        </div>
			</div>
		</div>
	</header>
	<section class="tabs__main">
		<div class="container">
			<div class="tabs">
				<nav class="tabs__items">
					<a href="#tab_01" class="tabs__item"><span><i class="fas fa-book-open"></i> Недавние</span></a>
					<a href="#tab_02" class="tabs__item">
						<span><i class="fas fa-book"></i> 
							Мои Курсы 
							<span class="course_num">
							{% if user.usercourses.my_courses.count <= 9 %}
							{{ user.usercourses.my_courses.count }}
							{% else %}
							9+
							{% endif %}
							</span>
						</span>
					</a>
					<a href="#tab_03" class="tabs__item"><span><i class="fas fa-cloud-download-alt"></i> Загрузки</span></a>
					<a href="#tab_04" class="tabs__item"><span><i class="fas fa-trophy"></i> Мои Достижения</span></a>
				</nav>
				<div class="tabs__body">
					<div class="tabs__block" id="tab_01">
						<div class="recent-courses">
							<p class="recent-courses__title">Недавние курсы</p>
							<div class="recent-courses__items">
								{% for course in user.usercourses.last_courses.all %}
								<div class="recent-courses__item">
									<p class="recent-courses__name">{{ course.title }}</p>
									<p class="recent-courses__course-name">{{ course.direction.category }}</p>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="tabs__block" id="tab_02">
						<div class="my-courses">
							<div class="my-courses__top">
								<form action="#" class="my-courses__search">
									<input type="search" placeholder="Искать среди моих курсов..." class="my-courses__input-search">
								</form>
								<div class="my-courses__buttons">
									<div class="dropType">
										<button class="btnType">Тип:<span> Все</span></button>
										<div class="contentType">
											<a href="#">Link 1</a>
											<a href="#">Link 2</a>
											<a href="#">Link 3</a>
										</div>
									</div>
									<div class="dropType">
										<button class="btnType">Направления:<span> Все</span></button>
										<div class="contentType">
											<a href="#">Link 1</a>
											<a href="#">Link 2</a>
											<a href="#">Link 3</a>
										</div>
									</div>
								</div>
							</div>
							<div class="recent-courses__items">
								{% for course in user.usercourses.my_courses.all %}
								<div class="recent-courses__item">
									<p class="recent-courses__name">{{ course.title }}</p>
									<p class="recent-courses__course-name">{{ course.direction.category }}</p>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="tabs__block" id="tab_03">
						<div class="downloads">
							<div class="tabs__download">
								<input type="radio" name="tabs" id="tabone" checked="checked">
								<label for="tabone"><i class="fas fa-cloud-download-alt"></i>  Загружено</label>
								<div class="tab">
									<div class="downloaded__main">
										<h2 class="downloaded__main-title">Вы еще ничего не скачивали</h2>
										<a href="{% url 'courses' %}" class="downloaded__main-link">К Курсам</a>
									</div>
								</div>
								<input type="radio" name="tabs" id="tabtwo">
								<label for="tabtwo"><i class="fas fa-download"></i>     Скачивается</label>
								<div class="tab">
									<!-- хз что добавить -->
								</div>
							</div>
						</div>
					</div>
					<div class="tabs__block" id="tab_04">
						<div class="achievements">
							<div class="achievements__main">
								<h2 class="achievements__main-title">У вас пока нету достижении</h2>
								<a href="{% url 'courses' %}" class="achievements__main-link">К Курсам</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<script src="{% static 'js/userpage.js' %}"></script>

{% endblock %}