{% extends 'base.html' %}
{% load static %}

    {% block content %}


    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal_adaptive.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



    <section class="profile">
        <div class="container">
            <div class="profile_header">
                <div class="profile_img">
                    <img src="{% static 'img/Ellipse 2.png' %}" alt="">
                    <h1>Davon Lane</h1>
                    <div class="profile_href">
                        <a href="#">Pick a username</a>
                        <a href="#">Add your bio</a>
                    </div>
                </div>
                <div class="profile_btn">

                    <button id="myBtn">Редактировать <br> профиль</button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <a class="close">&times;</a>
                            <h1>Редактировать</h1>
                            <div class="passwoords">
                                <textarea class="input_write" placeholder="Add a bio" name="" id="" cols="9" rows="8"></textarea>
                                <input id="username" class="searchTerm2" type="textarea" placeholder="Username ">
                                <input id="locat" class="searchTerm2" type="textarea" placeholder="Location ">
                                <input id="company" class="searchTerm2" type="textarea" placeholder="Company ">
                            </div>
                            <div class="save_btn">
                                <a class="input_btn" href="">Сохранить</a>
                                <a class="input_btn" href="">Отмена</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="course">
        <div class="container">
            <div class="tabs">

                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label style="display: inline-flex;margin-top: 11px;
                padding: 0px 27px;" for="tab-btn-1"><img class="active" style="padding: 0px 10px;" src="{% static 'img/book.svg' %}" alt=""> Обзор </label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                <label style="display: inline-flex;
                padding: 0px 27px;" for="tab-btn-2"><img style="padding: 0px 10px;" src="{% static 'img/copybook.svg' %}" alt=""> Мои курсы</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="">
                <label style="display: inline-flex;
                padding: 0px 27px;" for="tab-btn-3"><img style="padding: 0px 10px;" src="{% static 'img/cloud.svg' %}" alt=""> Загрузки</label>
                <input type="radio" name="tab-btn" id="tab-btn-4" value="">
                <label style="display: inline-flex;
                padding: 0px 27px;" for="tab-btn-4"><img style="padding: 0px 10px;" src="{% static 'img/meadl.svg' %}" alt=""> Мои достижения</label>
                <div class="content_1" id="content-1">
                    <h1>Недавние курсы</h1>
                    <div class="content_1_box">
                        <div class="box">
                            <div class="box_item_1">
                                <div class="box_container">
                                    <h2>Front-End Web разработка</h2>
                                    <div class="course_name">
                                        <div class="circle"></div>
                                        <p>WEB</p>
                                    </div>
                                </div>

                            </div>
                            <div class="box_item_1">
                                <div class="box_container">
                                    <h2>Back-End Web разработчик</h2>
                                    <div class="course_name">
                                        <div class="circle"></div>
                                        <p>WEB</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="box">
                            <div class="box_item_2">
                                <div class="box_container">
                                    <h2>Color Theory</h2>
                                    <div class="course_name">
                                        <div style="background: #EA4335;" class="circle"></div>
                                        <p>Design</p>
                                    </div>
                                </div>

                            </div>
                            <div class="box_item_2">
                                <div class="box_container">
                                    <h2>UI Дизайн с Figma</h2>
                                    <div class="course_name">
                                        <div style="background: #FF4EA3;" class="circle"></div>
                                        <p>UI/UX</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="content-2">
                    <div class="content2_search">
                        <input type="text" class="content2_searchTerm" placeholder="Искать среди моих курсов..." />

                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Тип: <span>Все</span>  <i class="fa fa-caret-down"></i></button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                        <div class="dropdown2">
                            <button onclick="myFunction2()" class="dropbtn2">Направление: <span>Все</span>  <i class="fa fa-caret-down"></i></button>
                            <div id="myDropdown2" class="dropdown-content2">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </div>
                    <div class="content2_box">
                        <div class="content2_item">
                            <div class="box_container">
                                <h2>Front-End Web разработка</h2>
                                <div class="course_name">
                                    <div class="circle"></div>
                                    <p>WEB</p>
                                    <p style="margin-left: 52px;">Пройдено: 57%</p>
                                </div>
                                <img style="margin-top: -247px;
                                float: right;" src="{% static 'img/Rectangle 61.png' %}" alt="">
                            </div>
                        </div>
                        <div class="content2_item">
                            <div class="box_container">
                                <h2>Back-End Web разработка</h2>
                                <div class="course_name">
                                    <div class="circle"></div>
                                    <p>WEB</p>
                                    <p style="margin-left: 52px;">Пройдено: 90%</p>
                                </div>
                                <img style="margin-top: -247px;
                                float: right;" src="{% static 'img/Rectangle 62.png' %}" alt="">
                            </div>
                        </div>
                        <div class="content2_item">
                            <div class="box_container">
                                <h2>UI дизайн с Figma</h2>
                                <div class="course_name">
                                    <div style="background: #FF4EA3;
                                    " class="circle"></div>
                                    <p>WEB</p>
                                    <p style="margin-left: 52px;">Пройдено: 100%</p>
                                </div>
                                <img style="margin-top: -247px;
                                float: right;" src="{% static 'img/Rectangle 63.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content-3">
                    <div class="content3_box">
                        <div class="content3_nav"></div>
                        <div class="tabs_2">
                            <input type="radio" name="tab_2-btn" id="tab_2-btn-1" value="" checked>
                            <label style="    cursor: pointer; z-index: 0; margin-left: 77px;     display: inline-flex; background-color: #56FDC3; border-radius: 23px; padding: 8px 14px;color: #264653; "><img style="
                                padding: 0px 5px;
                            "  src="{% static 'img/Group.svg' %}">Загружено</label>
                            <input type="radio" name="tab_2-btn" id="tab_2-btn-2" value="">
                            <label style=" cursor: pointer; z-index: 0; display: inline-flex;color: #264653;" for="tab_2-btn-2"><img src="{% static 'img/mdi_download.svg' %}" alt=""> Скачивается</label>


                            <div id="content2-1" class="content2_1">
                                <div class="content2_2_center">
                                    <h1>Вы еще ничего не скачивали</h1>
                                    <input onClick='location.href="#"' class="center_value" type="submit" value="К Курсам" placeholder="К Курсам">
                                </div>

                            </div>
                            <div style="margin-top: 101px;" id="content2-2">
                                <div class="content2_3_center">
                                    <h1>Вы еще ничего не скачивали</h1>
                                    <input onClick='location.href="#"' class="center_value" type="submit" value="К Курсам" placeholder="К Курсам">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div id="content-4">
                    <div class="content4_box">
                        <div class="content2_2_center">
                            <h1>Вы еще ничего не скачивали</h1>
                            <input style="cursor: pointer;" class="center_value2" type="submit" value="К Курсам" placeholder="К Курсам">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/modal.js' %}"></script>
    {% endblock %}